{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
    "react-app",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties", "react-hot-loader/babel"]
}
