# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
build
.idea

node_modules
bower_components

*.sublime*

psd
thumb
sketch

build.crx
build.pem

# End of https://www.toptal.com/developers/gitignore/api/react
