@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  width: 400px;
  margin: 0;
  position: relative;
  font-family: 'Noto Sans KR' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #EDEDEF;
}

ol,
ul {
  list-style-type: none;
}
