@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0;
    font-family: 'Noto Sans KR' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-color: #EDEDEF;
}

ol,
ul {
    list-style-type: none;
}
