@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans KR' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: #EDEDEF;
}

ol,
ul {
    list-style-type: none;
}
