$myColor: red;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $myColor;
}
.wrapper {
  background: #f9f7f2;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302px, 302px));
  gap: 1.875rem;
}

